@page "/asdf"
@inject NavigationManager Navigation

<h1>Nebula Mobile for Lyra Pay</h1>

@code{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        //Navigation.NavigateTo("login");
    }
}


